
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
    body{
    font-family:Arial, Helvetica, sans-serif;
    margin:0;
    font-size:12.8;
    padding:20px 30px;
}
header div ul{
    display:flex;
    list-style-type:none;
    margin:20px 20px;
    float:right;
}
header div li{
    flex:20px;
}
header ul li a{
    text-decoration:none;
    color:#000000;
} 
.featured div {
    text-align:center;
    padding:200px;
    margin-top:100px;
}
#featured ul{
    padding-top:13%;
    padding-left:600px; 
    display:flex;
}
#featured ul li{
    width: 50px;
    margin:1%;
    text-align:center;
    list-style-type:none;
    padding:1px 69px 30px 1px;
    display :inline-block;
    }
#featured  ul li a{
    color:#000000;
    text-decoration:none;
}
#featured ul:hover{
    position:relative;
    top:-5px;
}
#featured li a:hover{
    color:red;
}
#logo ul{
    padding-top:30px;
    padding-left:25%;
    display:flex;
}
#logo li{
    padding:20px;
    vertical-align: middle;
    list-style-type:none;
}
#logo li input{
    padding:1px;
    background:white;
    padding-top: 15px;
    width:650px;
    border-color: #ffcc00;

}
#logo li button{
    color:black;
    background:#ffcc00;
    width:80px;
    text-align:right;
}
.country{
    margin-bottom:10px;
   display:flex;
   list-style-type:none;
   padding:150px;
   padding-right: 60px;
   color:#333;
   flex: 50%;
}
.country li{
    display:flex;
    padding:20px;
}