*{
   padding:0;
   margin:0;
   box-sizing:border-box; 
}
@font-face {
    font-family:'Segoe UI';
    src:url('https://azurecomcdn.azureedge.net/cvt-63c12051016796d92bcf4bc20b4881057475e6dfa4937c29c9e16054814ab47d/fonts/segoe-ui/variable/SegoeUI-Roman-VF_web.woff2');
}
@font-face {
    font-family:'font-two';
    src:url(img/latest.woff2);
}
body{
   overflow:none;
    font-family: 'Segoe UI';
    color: #1a1a1f;
    padding-bottom:100px;
}
header{
    background-color:white;
    display:flex;
    justify-content:space-between;
    align-items:center; 
    padding:22px 10px;
    margin-top:2px;
    margin-left:10px;
}
.open img{
    width: 100%;
    text-align:left;
    margin-left:-8px;
    margin-top:-5px;
}
.open{
    display:flex;
    transform:translateY(2px);
}
.open h3{
    font-size:16px;
    margin-top:2px;
    margin-left:12px;  
    transform: translate(4px,-2px);
    line-height: 1;
}
.microsoft img{
    width: 100%;
}
.microsoft{
    display:flex;
   padding: 0px 0px 0px 29px;
    /* transform: translate(-10px, -1px) */
    transform: translateY(-1px);
    }
.signin{
    display:flex;
    align-items:center;
    justify-content:flex-end;
    margin-right:-5px;
    gap: 49px;
}
div.signin img{
    height:18px;
    width:18px;
    /* margin-right:34px; */

}
.signin a{
    padding:-4px;
    font-size:14px;
    color:#1a1a1f;
    text-decoration:none;
    white-space:nowrap;
    transform:translateX(-13px);
}
.explore{
    display:none;
}
.microsoft2{
    display:none;
}
.lens{
    display:none;
}
.heading{
    display:none;
}
 .search input{
    display:none;
}
.search img{
    display:none;
}
.learn a{
    display:none;
}
.learn button{
    display:none;
}
.desktop{
    display:none;
}
.tablet{
    display:none;
}
.bg2{
    display:none;
}
.list-card2{
    display:none;
}
.background{
    display:flex;
    object-fit:cover;
    width:100%;
   height:850px;

}
.banner img{
    width:100%;
    height:92%;
    object-fit:cover;
    /* background-position:50% 50%;
    background-size: cover; */
    box-sizing:inherit;
    font-family: 'Segoe UI',SegoeUI,'Helvetica Neue',Helvetica,Arial,sans-serif;
}
.background h1{
    display:flex;
    position:absolute;
    text-align:center;
    color:#1a1a1f;
    font-size:50px;
    font-weight: 600;
    line-height:1.2;
    margin-top:55px;
    font-family: 'Segoe UI',SegoeUI,'Helvetica Neue',Helvetica,Arial,sans-serif;
}
.paragraph{
    position: absolute;
    text-align:center;
    color:#4c4c51;
    font-size:18px;
    line-height:1.3;
    margin-top:433px;
    padding:11px;
}
.buttons{
    position:absolute;
    text-align:center;
    margin-top:620px;
    padding:12px;
    list-style-type:none;
    display:flex;
    flex-direction:column;
    width:100%;
}
.buttons li{
    margin-top:12px;
}
.btn1{
    height:43;
    width:80%;
    font-size:14px;
    color:#fff;
    background-color:#0078d4;
    border:1px solid #0078d4;
    border-radius:4px;
    display:inline-block;
}
.btn2{
    height:43;
    width:80%;
    background-color:transparent;
    border:1px solid #000;
    color:#000;
    border-radius:4px;
    display:inline-block;
}
.list h2{
    text-align:center;
    font-size:20px;
    font-family:'Segoe UI',SegoeUI,'Helvetica Neue',Helvetica,Arial,sans-serif;
    color:#1a1a1f;
    width:96%;
    margin-top:-21px;
}
.cards a{
    text-decoration:none;
    color:#0062AD;
    font-size:20px;
    font-family:'Segoe UI',SegoeUI,'Helvetica Neue',Helvetica,Arial,sans-serif;
    text-align:left;
    width:66%;
}
.list-cards{
  padding:0 15px;
}
.list-cards img{
    width:100%;
    height: 100%;
}
.list-cards .cards:nth-child(1) a{
    margin-left:10px;
    margin-top:15px;
}
.list-cards .cards:nth-child(1) img{
  width:68px;
  height:68px;
}
.list-cards .cards:nth-child(2) img{
  width:68px;
  height:68px;
}
.list-cards .cards:nth-child(3) img{
    width:68px;
    height:68px;
}
.cards{
    display: flex;
    align-items: center;
}
.list-cards .cards{
    background-color:#fff;
    border-radius:6px;
    box-shadow: 0 2px 5px rgb(0 0 0 / 14%);
    color:#4c4c51;
    border:1px solid transparent;
    padding:24px;
    position:relative;
    margin-bottom:24px;
}
.new{
    text-align:center;
    padding:50px 0;
}
.new p{
   margin-bottom:24px;
   color: #1a1a1f,!important;
   font-size:16px;
   font-weight:600;
   font-family: 'Segoe UI',SegoeUI,'Helvetica Neue',Helvetica,Arial,sans-serif;
}
.new button{
   background-color:transparent;
   border:1px solid #0078d4;
   border-radius:4px;
   color:#0062ad;
   display:inline-flex;
   align-items:center;
   justify-content:center;
   font-size:14px;
   font-weight:600;
   text-align:center;
   width:70%;
   height:41px;
}
.page3{
    background-color:#f8f9fa;
    display:flex;
    flex-direction:column;
    align-items:center;
}
.page3 h2{
    font-size:20px;
    font-family: 'Segoe UI',SegoeUI,'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight:600;
    line-height:1.2;
    text-align:center;
    width:88%;
    padding:40px 0;
}
.page3 .btn-ms{
    align-items:center;
    background-color:#fff;
    border:0;
    border-bottom:1px  solid #eaebec;
    border-radius:4px;
    box-shadow:0 2px 5px rgb(0 0 0/14%);
    display:flex;
    height:auto;
    justify-content:space-between;
    min-height:60px;
    padding:12px 24px 12px 12px;
    width:93%;
}
.btn-ms button{
    background-color:#fff;
    border:0;
    color:#1a1a1f;
    font-size:16px;
    font-weight:600;
    font-family:'Segoe UI',SegoeUI,'Helvetica Neue',Helvetica,Arial,sans-serif;
}
.btn-ms i{
    padding:10px;
    transform:scale(1.5);
}
.grids{
    display:grid;
    grid-template-columns:1fr 1fr;
    column-gap:17px;
    row-gap:20px;
    padding-block:14px;
    padding-inline:10px;
}
 .grid-card{
     display:flex;
     flex-direction:column;
     justify-content:space-between;
     margin:0;
     text-align:center;
     background-color:#fff;
     border-radius:6px;
     box-shadow:0 2px 5px rgb(0 0 0/14%);
     color:#4c4c51;
     padding:24px;
     position:relative;
     border:1px solid transparent;
}
.card-img img{
    height:36px;
    width:36px;
}
.card-img p{
    font-size:14px;
    color:#4c4c51;
    font-family:'Segoe UI',SegoeUI,'Helvetica Neue',Helvetica,Arial,sans-serif;
    margin-top:12px;
}
.card-a a{
    color:#0062ad;
    font-size:14px;
}
.btn-ma{
    width: 93%;
}
.btn-ma .btns{
    align-items:center;
    background-color:#fff;
    border:0;
    border-bottom:1px  solid #eaebec;
    border-radius:4px;
    box-shadow:0 2px 5px rgb(0 0 0/14%);
    display:flex;
    height:auto;
    justify-content:space-between;
    min-height:60px;
    padding:12px 12px 24px 15px;
    width:100%;
    margin-block:7px;
}
.btns button{
    background-color:#fff;
    border:0;
    color:#1a1a1f;
    font-size:16px;
    font-weight:600;
    font-family:'Segoe UI',SegoeUI,'Helvetica Neue',Helvetica,Arial,sans-serif;
}
.btns i{
    padding:10px;
    transform:scale(1.5);
}
.container{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}
.container-btn{
    display: none;
}
.products{
  color:#0062ad;
  font-size:14px;
  font-weight:600;
  padding-right:1em;
  position:relative;
  text-decoration:none;  
  margin-block:10px;
}
/* .products a{
    padding-right:4px;
} */
.products i{
    transform: scale(1.5);
    padding-left:4px;
}
.featured img{
    width:100%;
    height:100%;
    border-radius:12px;
    background-color: #000;
    padding:3%;
    box-shadow:0 10px 20px rgb(0 0 0/14%);
}
.featured{
    display:flex;
    justify-content:center;
    width: 90%;
    height: 100%;
}
.btns-spl{
    display:none;
}
.side-img{
    display:none;
}
@media screen and (min-width:540px){
    .new button{
        width:136.77px;
    }
}
/* tablet screen */

 @media screen and (min-width: 768px){
  .tablet{
       display:flex; 
       justify-content:space-between;
       align-items:center;
       text-decoration: none; 
       margin-top:-25px;
       width:100%;
       margin-bottom:2px;
  }
   .new{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    gap:53px;
    margin-top:48px;
  }
  .new p{
    text-align:left;
    width:6%;
  }
  .new button{
    width:14%;
    height:71px;
  }
    .search img{
        display:none;
    }
    .open {
        display:none; 
    }
    .microsoft{
        display:none;
    }
    .signin{
        display:none;
    }
    .list-cards{
        display:none;
    }
    .lens{
        display:flex;
    }
    /* .list{
        margin-top:-304px;
    } */
    .list-card2{
        display:grid;
        grid-template-columns:1fr 1fr;
        grid-template-rows:1fr;
        column-gap:30px;
        row-gap:24px;
    }
    .list h2{
        font-size:24px;
        width: 733px;
        margin-bottom:29px;
        margin-inline:auto;
        margin-top:-70px;
        font-family: 'Segoe UI',SegoeUI,'Helvetica Neue',Helvetica,Arial,sans-serif;
        letter-spacing:0.5;
    }
    .lis-card2 .one{
        box-shadow: 0 2px 5px rgb(0 0 0 / 14%);
        color:#4c4c51;
        border:1px solid transparent;
    }
    .list-card2 .cards{
        box-shadow: 0 2px 5px rgb(0 0 0 / 14%);
        color:#4c4c51;
        border:1px solid transparent;
        display:flex;
        justify-content:center;
        align-items:center;
    }
    .header-tab{
        display:flex;
        justify-content:space-between;
        align-items:center;
    }
    .microsoft2{
        width:24px;
        height:25px;
    }
    .microsoft img{
        width:100%;
    }
    .learn a{
        display:none;
    }
    .learn button{
        display:none;
    }
    header .explore {
       display:block;
    }
    header .heading{
        font-size:16px;
        display:flex;
        padding:0px 0px 0px 12px;
    }
    header .lens{
        display:flex;
        align-items:center;
    }
    header .microsoft2{
        width:100%;
        display:flex;
        margin-left:-5px;
    }
    .explore{
        padding:12px;
        white-space:nowrap;
        display:flex;
        justify-content:right;
        margin-left:14px;
    }
    .explore a{
        text-decoration: none;
        color:#1a1a1f;
        font-size:13px;
        font-family:'Segoe UI',SegoeUI,'Helvetica Neue',Helvetica,Arial,sans-serif;
    }
    .explore i{
        margin-right:6.5px;
        margin-top:1.8px;
    }
     .lens{
        display:flex;
        justify-content:left;
        margin-left:25px;
     }
    .lens p{
        margin:3px;
        font-size:27px;
        margin-top:-11px;
        padding:15px 8px;
    }
    .lens img{
        transform: scale(0.6);
        padding:1px 6px;
    }
     .banner img{
        height:81%;
     }
    .lens a{
        text-decoration:none;
        color:#1a1a1f;
        font-size:13px;
        white-space:nowrap;
        padding:20px 8px;
    }
    .background{
        margin-top:-25px;
        height:650px;   
    }
    .background h1{
        padding:22px;
        font-size:50px;
        margin-top:37px;
        letter-spacing:1.05;
    }
    .paragraph{
        margin-top:240px;
        width:99%;
    }
    .buttons{
        margin-top:320px;
        padding:35px;
    }
    .btn1{
      width:627.3;
    }
    .btn2{
        width:627.3;
    }
    .one{
        background-image:url(img/card1.5.jpg);
        background-repeat:no-repeat;height: 100%;
       flex-direction: column;
       grid-row:1/span2;
    }
    .one a{
        margin-left:-120px;
        margin-top:365px;
    }
    .one p{
        margin-left:17px;
        margin-top:20px;
    }
    .cards content{
        display:flex;
    }
    .cards a{
        width:59%;
    }
    .content p{
        margin-top:10px;
    }
    .grids{
        display:grid;
        grid-template-columns:1fr 1fr 1fr;
        grid-template-rows:1fr 1fr;
        grid-auto-rows:1fr;
    }
    .page3 h2{
        font-size:24px;
        text-align:left;
        margin-left:-69px;
        letter-spacing:0.05ch;
    }
    .page3 .btn-ms{
        display: none;
    }
    .btn-ma{
        display: flex;
        flex-direction: column;
    }
    .container{
        display: flex;
        flex-direction: row-reverse;
    }
    .btns button{
        font-weight:400;
        background-color:transparent;
        margin-left:13px;
        text-align:left;
    }
    .container-btn{
        display: flex;
        background-color:transparent;
        border-left: 4px solid #0062ad;
        color:#1a1a1f;
        font-size:16px;
        margin:0px 0px 0px 12px; 
        width:99%;
    }
    .btns i{
        display:none;
    }
    .container-btn button{
        font-weight:600;
    }
    .btn-ma .btns{
        background-color: transparent;
        box-shadow: none;
        border:none;
        width:78%;
    }
    .products{
        display:none;
    }
    .featured{
        display:none;
    }
    .btns-spl{
        display:flex;
        color:#0062ad;
        font-size:14px;
        font-weight:600;
        padding-right:1em;
        position:relative;
        text-decoration:none;  
        margin-left:25px;
    }
    .btns-spl i{
        transform: scale(1.5);
        padding-left:8px;
    }
}
 @media screen and (min-width:961px){
    .banner{
        display:flex;
        background-image: url(img/bg\(3\).webp);
        background-size:cover;
        width:100%;
        height:62.686%;
        background-repeat:no-repeat;
        background-position:center;
    }
    .tablet{
        margin-bottom:-30px;
    }
    .background img{
        display:none;
    }
    .background h1{
        display:flex;
        text-align:left;
        width:51%;
        margin-left:-11px;
        margin-top:49px;
    }
    .paragraph{
        display:flex;
        text-align:left;
        margin-top:320px;
        width:50%;
    }
    .buttons{
    position:absolute;
    text-align:left;
    padding:12px;
    list-style-type:none;
    display:flex;
    flex-direction:row;
    width:100%;
    margin-top:440px;
    }
    .btn1{
        width:104.95;
    }
    .btn2{
        width:144.69;
        margin-left:22px;
    }
    .list h2{
        margin-top:66px;
        width:99%;
    }
    .side-img{
       display:flex;
       width:40%;
       box-sizing:inherit;
       border-top-left-radius:12px;
       border-bottom-left-radius:12px;
       background-color:#000;
       padding:3%;
       box-shadow:0 10px 20px rgb(0 0 0/14%);
       overflow: hidden;
    }
    .side-img img{
        max-height:530px;
        max-width:none;
    }
    .container{
        display:flex;
        flex-direction:row-reverse;
        width:100%;
    }
  }
 /* desktop screen */
 
 @media screen and (min-width:1080px) {
    .desktop{
        display:flex;
        margin-top:-4px;
        margin-inline: auto;
    }
 header .lens{
    display:none;
}
.search{
    display:flex;
}
.one{
    background-size: cover;
}
.cards a{
    margin-left:-34px;
}
/* .banner{
    background-image: url(img/bg\(3\).webp);
    background-size:cover;
    background-repeat: no-repeat;
    object-fit:cover;
    height:80.053%;
} */
.background{
    display:flex;
    max-width: 1310px;
    margin-inline: auto;
}
.background h1{
    max-width: 1100px;
    margin-right:auto;
    margin-left: auto;
}
.background img{
    display:none;
}
.search input{
    display:flex;
    background-color:#f8f9fa;
    border-radius:4px;
    border-color:#747479;
    color:#4c4c51;
    font-size:13px;
    padding:1px 24px 1px 12px;
    box-sizing:border-box;
    border:1px solid #747479;
    line-height:1.2;
    width:123px;
    height:32px;
}
 .search img{
    display:flex;
    height:18px;
    width:18px;
    margin-top:7px;
    transform: translateX(-32px);
}
.explore{
    margin-left:58px;
    font-size:12px;
}
.learn{
    display:flex;
}
.new button{
    height:47px;
}

header{
    max-width: 1317px;
    margin-inline: auto;
    margin-block:-13px;
}
header .microsoft2{
    width:24px;
    height:23.25px;
}
.learn a{
    display:flex;
    text-decoration:none;
    font-size:13px;
    padding:8px;
    color:#1a1a1f;
    padding:10px;
    white-space:nowrap;
}
.learn button{
    display:block;
    font-size:12px;
    background:#89c402;
    margin:0px 6px;
    padding:9px;
    border:none;
    border-radius:4px;
    height:32px;
    width:89.57px;
}
.list-card2{
    max-width:1310px;
    margin-left:auto;
    margin-right: auto;
}
}
@media screen and (min-width: 1440px){
    .background h1{
    width:45%;
    padding:75px;
    margin-top:-4px;
    margin-left:5px;
   }
   .paragraph{
    display:flex;
    width:52%;
    padding:70px;
    margin-top:190px;
    margin-left:9px;
   }
   .buttons{
    padding:62px;
    margin-top:302px;
    margin-left:5px;
   } 
   }
@media screen and (min-width: 2560px){
  .banner{
       width:100%;
       height: 47.75%;
  }
  .background h1{
    width:30%;
    margin-left:-64px;
  }
  .paragraph{
    width:30%;
    margin-left:-59px;
  }
  .buttons{
    margin-left:-49px;
  }
}

